{% extends "base_generic.html" %}

{% block content %}
    <h1>BOOK LIST</h1>
    <a href="{% url 'book-create' %}"> create book </a>
    {% comment %} 該視圖默認將上下文（書籍列表）作為object_list 和 book_list 別名傳遞 {% endcomment %}
    {% if book_list %}
    <ul>
        {% for book in book_list %}
        <li>
            <a href="{{book.get_absolute_url}}">{{book.title}}</a>({{book.author}})
            <a href="{% url 'book-update' book.pk %}"> update book </a>
            <a href="{% url 'book-delete' book.pk %}"> delete book </a>

        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}